{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Lista de Passageiros</h1>
    <a href="{% url 'passenger_create' %}" class="btn btn-success mb-3">Adicionar Novo Passageiro</a>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Data de Nascimento</th> <!-- Nova coluna para Data de Nascimento -->
                <th>RG</th> <!-- Nova coluna para RG -->
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for passenger in passengers %}
            <tr>
                <td>{{ passenger.full_name }}</td>
                <td>{{ passenger.birth_date }}</td> <!-- Exibe a Data de Nascimento -->
                <td>{{ passenger.rg_number }}</td> <!-- Exibe o RG -->
                <td>{{ passenger.email }}</td>
                <td>
                    <a href="{% url 'passenger_detail' passenger.id %}" class="btn btn-primary btn-sm">Detalhes</a>
                    <a href="{% url 'passenger_update' passenger.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'passenger_delete' passenger.id %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
