{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4">Lista de Voos</h2>
            <a href="{% url 'flight_create' %}" class="btn btn-success mb-3">Adicionar Novo Voo</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Partida</th>
                        <th>Retorno</th> <!-- Adicionando a coluna de retorno -->
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for flight in flights %}
                    <tr>
                        <td>{{ flight.origin }}</td>
                        <td>{{ flight.destination }}</td>
                        <td>{{ flight.departure_time|date:"M d, Y, h:i a" }}</td>
                        <td>{{ flight.return_time|date:"M d, Y, h:i a" }}</td> <!-- Coluna de retorno -->
                        <td>
                            {% if flight.approval_status == 'P' %}
                                <span class="badge badge-warning">Pendente</span>
                            {% elif flight.approval_status == 'A' %}
                                <span class="badge badge-success">Aprovado</span>
                            {% else %}
                                <span class="badge badge-danger">Rejeitado</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'flight_detail' flight.id %}" class="btn btn-primary btn-sm">Detalhes</a>
                            <a href="{% url 'flight_update' flight.id %}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'flight_delete' flight.id %}" class="btn btn-danger btn-sm">Excluir</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">Nenhum voo encontrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
